<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body id="eventsIndex">
    <%- include('../partials/_navbar.ejs') %>
    <div id="indexTitle">
    <h1 id="inTitle">MeetUps</h1>
    <h2 id="inSub">Current Events</h2>
    </div>
        <% events.forEach((event) => { %>
            <a href="/events/<%= event._id %>" id="indexHref">
            <div id="eventPreview" >
                <div id="innerEPreview" >
                <h3 id="iEName"><%= event.name %></h3>
                <p id="indexAuthor"><strong>Author: </strong><%= event.author %></p>
                </div>
                <div id="indDescription" >
                <p><%= event.description %></p>
                </div>
            </div>
            </a>
        <% }) %>
</body>
</html>