<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>MeetUps</h1>
    <div id="showEvent">
    <h2><%= event.name %></h2>
    <p>Description: <%= event.description %></p>
    <p>Information: <%= event.information %></p>
    <p>Location: <%= event.location %></p>
    <p>Contact:<br>E-mail: <%= event.contact.email %><br>Phone: <%= event.contact.phone %></p>
    <p>Links:<br>Website: <a href="<%= event.links.website %>"><%= event.links.website %></a><br>Social: <a href="<%= event.links.social %>"><%= event.links.social %></a></p>
    <p>Supplies: <%= event.supplies %></p>
    <!-- fix guidlines decide whether text area or seperate fields -->
    <p>Guidelines: <%= event.guidelines %> <%= event.guidelines.dress %> <%= event.guidelines.etiquette %></p>
    <p>Restrictions: <%= event.restrictions %></p>
    </div>
</body>
</html>