<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>MeetUps</h1>
    <h2>My Events</h2>
        <% events.forEach((event) => { %>
            <a href="/events/<%= event._id %>" style="text-decoration: none; color: black;">
            <div id="eventPreview" style="margin: 10px 20px; border: 2px solid black; padding: 10px;">
                <div style="display: flex; justify-content: space-between; ">
                <h3><%= event.name %></h3>
                <% if (user) { %>
                <p><strong>Author: </strong><%= event.author %></p>
                <% } %>
                </div>
                <div style="text-align: center; border: 1px solid black">
                <p><%= event.description %></p>
                </div>
            </div>
            </a>
        <% }) %>
</body>
</html>